@import "partials/footer";
@import "partials/header";
@import "partials/main";
@import "partials/modal";

* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    background-color: #000000;  
}