footer {
    background-color: var(--header-bg-color);
    padding-top: 5%;
    padding-bottom: 1px;

    .logo_container {
        text-align: center;

        .footer_logo {
            width: 100px;
        }
    }
    
    .footer_menu {
        font-size: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    .title_container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            text-decoration: none;
            color: inherit;
        }

        .footer_title {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 0;
        }

        .footer_mobile_menu {
            display: none;
        }
    }

    .copyright {
        font-size: 12px;
        font-weight: 100;
        text-align: center;
    }
}

@media screen and (max-width:680px) {
    footer {
        .title_container {
            flex-direction: column;

            .desktop_menu {
                display: none;
            }

            .footer_mobile_menu {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                margin: 2rem 0;
            }
        }
    }
}