header {
    .top_line {
        display: flex;
        align-items: center;
        justify-content: space-around;

        #home {
            order: -1;
        }
    }
    a {
        text-decoration: none;
    }

    nav {
        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                list-style: none;
            }
        }
    }
}